.git
.gitignore
.gitattributes
.editorconfig
.vscode

.env
.env.*
!.env.example

node_modules
vendor
npm-debug.log
yarn-error.log
.phpunit.result.cache

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

tests
postman
scratch
*.md
composer_out.txt

ext-mongodb*
*.zip

ml-service/**
!ml-service/
!ml-service/data/
!ml-service/data/**
